<a href="https://colab.research.google.com/github/Shivani-pawar26/Machine_learning/blob/main/Lab_2_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Get the index and value as a tuple for items in the list

items = ['hi', 1.29, 3, 4, (0.1, 'hi')]

l = [(index, value) for index,value in enumerate(items)]
print(l)

[(0, 'hi'), (1, 1.29), (2, 3), (3, 4), (4, (0.1, 'hi'))]

In [2]:
l1 = [1,2,3,4,5,6,7,8]
l2 = [1,3,3,5,5,8,10,8]
r1 = [i for i in l1 for j in l2 if i == j]
r2 = [i for i in l1 if i in l2]
print(r1)
print(r2)

[1, 3, 3, 5, 5, 8, 8]
[1, 3, 5, 8]

In [3]:
s = "hi i am shivani pawar"
#count the Number of latters
l = [i for i in s if i != ' ']
print(len(l))

17

In [4]:
s = "hi i am shivani pawar"
# Count The Number of Words
word = s.split()
print(len(word))
print(word)

5
['hi', 'i', 'am', 'shivani', 'pawar']

In [5]:
# Count the Number Of Word Which Are Not Alphanumeric
s = "hi i a2m shivani paw1ar"
l = [i for i in s.split() if s.isalpha]

# Print the Latters Having Charactor Greater Than 4
l1 = [i for i in s.split() if len(i) >= 4]
print(l1)
print(l)

['shivani', 'paw1ar']
['hi', 'i', 'a2m', 'shivani', 'paw1ar']

In [6]:
# Use a nested list comprehension to find all the number in range 1 - 100 that are divisible by any in b/w 2 - 9
l = [i for i in range(1,101) for j in range(2,10) if i%j == 0]
l2 = []
[l2.append(i) for i in l if i not in l2]
print(l2)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]