<a href="https://colab.research.google.com/github/Shivani-pawar26/Machine_learning/blob/main/Lab_1_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# To Print The Squre Of A Number In The List Given if It Is greater Than 50
l1 = [1,2,3,4,29,29,10,11,20]
[i**2 for i in l1 if i**2 > 50]

[841, 841, 100, 121, 400]

In [3]:
# For Given List if Value Is Greater Than 5 Then Print "hi" otherwise "bye" 
l1 = [1,2,3,4,5,6,7,8,9,10]
["hi"if (i > 5) else "bye" for i in l1]

['bye', 'bye', 'bye', 'bye', 'bye', 'hi', 'hi', 'hi', 'hi', 'hi']

In [8]:
# If x^2 <= 10 Execute 27*x for Values In Range 1-20
[27*x for x in range(1,21) if x**2 <= 50]

In [9]:
# Print All The Even Number In Range 1-20
[i for i in range(1,21) if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
# Find All The Numbers That Can be Divided By 2 & 5 in some range
[i for i in range(1,101) if i%2 == 0 and i%5 == 0]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
# Find All The Numbers From 1 - 1000 that have 3 in them
[i for i in range(1, 101) if '3' in str(i)]

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [13]:
# Count The Number Of Spaces In Given String
s = "Shivani Pawar"
l1 = [i for i in s if ' ' == i]
print(len(l1))

1

In [14]:
# Count The Consonent in String
s = "To execute the code in the above cell"
v = ['a','e','i','o','u',' ']
l1 = [i for i in s if i not in v]
print(len(l1))

16